{
  "api_url": "http://status.wolf.ski/api/v1",
  "api_token": "5hXeKaLDJVLVE7NziKmb",
  "monitoring": [
    {
      "name": "Homepage",
      "url": "https://feed-the-beast.com",
      "component_id": 1,
      "timeout": 5,
      "expected_status_code": [200]
    },
    {
      "name": "Forums",
      "url": "https://forum.feed-the-beast.com",
      "component_id": 2,
      "timeout": 5,
      "expected_status_code": [200]
    },
    {
      "name": "Support",
      "url": "https://support.feed-the-beast.com",
      "component_id": 3,
      "timeout": 5,
      "expected_status_code": [200]
    },
    {
      "name": "Wiki",
      "url": "http://ftb.gamepedia.com",
      "component_id": 4,
      "timeout": 5,
      "expected_status_code": [200]
    }
  ]
}