{
  "api_url": "http://status.wolf.ski/api/v1",
  "api_token": "5hXeKaLDJVLVE7NziKmb",
  "use_schedule": false,
  "interval": 120,
  "retries": 3,
  "monitoring": [
    {
      "enabled": true,
      "name": "Homepage",
      "url": "https://httpbin.org/status/504",
      "method": "GET",
      "component_id": 9,
      "timeout": 5,
      "expected_status_code": [200]
    },
    {
      "enabled": true,
      "name": "Homepage",
      "url": "https://httpbin.org/status/200",
      "method": "GET",
      "component_id": 10,
      "timeout": 5,
      "expected_status_code": [200]
    },
    {
      "enabled": true,
      "name": "Homepage",
      "url": "https://httpbin.org/delay/10",
      "method": "GET",
      "component_id": 11,
      "timeout": 5,
      "expected_status_code": [200]
    }
  ]
}