{
  "api_url": "http://status.wolf.ski/api/v1",
  "api_token": "5hXeKaLDJVLVE7NziKmb",
  "interval": 120,
  "monitoring": [
    {
      "name": "Homepage",
      "url": "https://feed-the-beast.com",
      "method": "GET",
      "component_id": 1,
      "timeout": 5,
      "expected_status_code": [200]
    }
  ]
}